<h1>{{title}}</h1>

{{!-- Authenticating user before allowing them to add a contact --}}
{{#if user}}
<p id="add-link">
<a href="/contacts/add">Add a new Contact</a>
</p>
{{/if}}

<div class="table-container">
<table class="my-table">
    <thead>
        <th>Name</th>
        <th>Contact</th>
        <th>Relation</th>
        <th>Email</th>
        {{#if user}}
        <th>Options</th>
        {{/if}}
    </thead>
    <tbody>
        {{!-- Getting information for each field from the dataset using looping --}}
        {{#each dataset}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.contact}}</td>
            <td>{{this.relation}}</td>
            <td>{{this.email}}</td>

            {{!-- Authenticating the user before allowing them to use edit or delete contacts --}}
            {{#if ../user}}
            <td>
                <a href="/Contacts/edit/{{this._id}}" class="edit-delete">Edit</a>
                <a href="/Contacts/delete/{{this._id}}" class="edit-delete" onclick="return confirmDelete()">Delete</a>
            </td>
            {{/if}}
        </tr>
        {{/each}}
    </tbody>
</table>
</div>